<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ElectricityMapper">
	
<!-- 	
	<resultMap type="PwoerType" id="nPowerRsultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="vendor" property="vendor"/>
		<result column="type" property="type"/>
		<result column="power" property="power"/>
		<result column="image" property="image"/>
		<result column="comment" property="comment"/>
	
	</resultMap> -->
	
	<!-- 表名 -->
	<sql id="tableName">c_gateway</sql>
	<sql id="attrTableName">c_gateway_attr1</sql>
	<sql id="poweruoTableName">b_powerup</sql>
	
	
	
	<select id="electricitylistPage" parameterType="page" resultType="pd">
		SELECT 
		c_gateway.id,
		c_gateway.gateway_code,
		c_gateway_attr1.name,
		c_gateway_attr1.c_gateway_type_id,
		c_gateway_attr1.location,
		b_powerup.datetime1,
		b_powerup.datetime2,
		c_gateway_attr1.staus
		FROM
		c_gateway
		LEFT JOIN
		c_gateway_attr1
		ON
		c_gateway.id = c_gateway_attr1.c_gateway_id
		LEFT JOIN
		b_powerup
		ON c_gateway.id = b_powerup.c_breaker_id
		WHERE 1=1
		AND
		c_gateway_attr1.c_gateway_type_id != 3
		AND
		c_gateway_attr1.sys_user_id = #{pd.sys_user_id}
		 <if test="pd.gateway_code!=null and pd.gateway_code!=''">
			and 
			(
				gateway_code LIKE CONCAT(CONCAT('%', #{pd.gateway_code}),'%')
			)
		</if>
		<if test="pd.name!=null and pd.name!=''">
			and 
			(
				name LIKE CONCAT(CONCAT('%', #{pd.name}),'%')
			)
		</if> 
	</select>

	<!-- 通过c_gateway.id获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd" >
		SELECT 
		c_gateway.id,
		c_gateway.gateway_code,
		c_gateway_attr1.`name`,
		c_gateway_attr1.location,
		b_powerup.powerup,
		b_powerup.powerdown
		FROM
		c_gateway
		LEFT JOIN 
		c_gateway_attr1
		ON 
		c_gateway.id = c_gateway_attr1.c_gateway_id
		LEFT JOIN
		b_powerup
		ON c_gateway.id = b_powerup.c_gateway_id
		WHERE 
			c_gateway.id = #{id}
	</select>	
	
	<!-- 修改一条上电断电时间 -->
	<update id="update" parameterType="pd" >
		INSERT INTO 
			b_powerup (c_gateway_id, sys_user_id, tdate, powerup, powerdown)
		VALUES 
			(#{id}, #{sys_user_id}, #{tdate}, #{powerup},#{powerdown})
		ON DUPLICATE KEY UPDATE 
		c_gateway_id  = #{id}, 
		sys_user_id   = #{sys_user_id},
		tdate         = #{tdate},	
		powerup 	  = #{powerup},
		powerdown	  = #{powerdown}
			
	</update>
<!-- 	<update id="update" parameterType="pd" >
		update b_powerup
			set 
			c_gateway_id  = #{id}, 
			sys_user_id   = #{sys_user_id},
			tdate         = #{tdate},	
				
			<if test="powerup != null and powerup != ''">
				powerup 	= #{powerup}
			</if>
			<if test="powerdown != null and powerdown != ''">
				,powerdown	= #{powerdown}
			</if> 
			where 
				c_gateway_id = #{id}
	</update> -->
	
</mapper>